

    <h1> Update Your Password </h1>

    <% if @user.errors.any? %>
            <p> <%= @user.errors.full_messages.join(',') %> </p>
        <% end %>

        <%= form_with model: @user, url: password_path do |form| %>

        <form>

        <div class="mb-3">

                <%= form.label :current_password %>
                <br>
                <%= form.password_field :current_password %>
        </div>

        <div class="mb-3">
                <%= form.label :new_password %>
                <br>
                <%= form.password_field :new_password %>
        </div>
        
        <div class="mb-3">
                <%= form.label :new_password_confirmation %>
                <br>
                <%= form.password_field :new_password_confirmation %>
        </div>

          
            
                <%= form.submit "Update Password", class: "btn btn-outline-primary" %>

        </form>

    <% end %>





