

<h2> <%= @post.title %> </h2>
<p> <%= @post.body %> </p>
 <p><small> Created <%= time_ago_in_words(@post.created_at) %> ago </small></p>
<div class="d-flex">
<div class="m-3">
<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-primary" %>
</div>
<div class="m-3">
<%= button_to 'Delete', post_path(@post), method: :delete, form: {data: {turbo_confirm: "Are you sure you would like to proceed?"}}, class:"btn btn-outline-primary" %>
</div>
</div>
<br>

<h4> Comment </h4>

<% if @comment.errors.any? %>
<ul>
 <% @comment.errors.full_messages.each do |message| %>

 <li> <%= message %> </li>

 <% end %>

</ul>

 <% end %>

 <%= form_with(model: [@post, @comment]) do |form| %>
 
 <div>

 <% form.label :body%>
 
 <%= form.text_area :body, placeholder: "What's on your mind?", cols: 50, rows: 5%> 
 <br>
 <%= form.submit "Submit", class:"btn btn-outline-primary" %>

 </div>
 <% end %>

<br>

<div>
<% @comments.each do |comment| %>

<div>
 <%= comment.body %> <br>
 <small> Commented <%= time_ago_in_words(comment.created_at) %> ago ⦁ </small>
 <%=link_to "Delete", post_comment_path(@post.id, comment.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
<br>

<% end %>
</div>
